Importing the dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

importing the file using pandas

In [13]:
ccd=pd.read_csv("/content/creditcard.csv")

Accessing the top 10 data rows of the dataset #amount in

In [14]:
ccd.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
5,2,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0.0
6,4,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0.0
7,7,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0.0
8,7,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0.0
9,9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0.0

In [15]:
ccd.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5969,6634,-1.611463,0.190648,0.901715,1.531254,-1.535865,0.799245,1.513786,0.495829,0.200390,...,0.211223,0.007477,1.026272,0.057628,-0.024955,-0.368263,0.081684,0.140669,458.92,0.0
5970,6635,-1.420272,1.449354,1.320110,-1.894320,0.913695,0.454601,0.894179,-0.385450,2.433841,...,-0.529027,-0.368394,-0.247773,-1.189156,-0.126040,0.701487,0.277333,-0.222694,0.77,0.0
5971,6637,-1.206696,0.284728,2.152053,-2.850437,-0.437285,-0.238376,-0.333341,0.334679,2.870542,...,0.039460,0.464476,-0.457193,-0.556105,0.517579,0.008006,0.366054,0.185008,14.00,0.0
5972,6644,1.067611,0.091006,-0.153917,0.704233,0.113894,-0.826866,0.567690,-0.464181,0.957295,...,-0.476723,-1.410090,-0.037550,-0.177773,0.321810,0.114930,-0.109640,0.023205,139.90,0.0
5973,6645,-0.535272,-0.132299,2.180041,1.018303,-1.498819,0.529570,0.420147,0.045445,1.543919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
ccd.info()   #dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

checking the null values in each column

In [17]:
ccd.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [18]:
ccd['Class'].value_counts()   #0-legit transaction,1-fraudalent transactions

0.0    5970
1.0       3
Name: Class, dtype: int64

separating data for analysis

In [19]:
legit=ccd[ccd.Class==0]
fraud=ccd[ccd.Class==1]
print(legit.shape)
print(fraud.shape)

(5970, 31)
(3, 31)

In [20]:
legit.Amount.describe()      #7947 legit transactions

count    5970.000000
mean       64.965707
std       192.429839
min         0.000000
25%         4.450000
50%        15.620000
75%        56.485000
max      7712.430000
Name: Amount, dtype: float64

In [21]:
fraud.Amount.describe() #25 fraud transactions

count      3.000000
mean     256.310000
std      264.880121
min        0.000000
25%      119.965000
50%      239.930000
75%      384.465000
max      529.000000
Name: Amount, dtype: float64

compare the values for both transactions

In [22]:
ccd.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2677.40201,-0.264965,0.285625,0.844580,0.102656,0.000958,0.195420,0.018542,-0.039195,0.397472,...,0.055426,-0.043268,-0.161540,-0.036683,0.028985,0.089890,-0.040132,0.025238,0.006163,64.965707
1.0,1780.00000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

Under sampling
Fraud transactions-25
Legit transactions-7947 (dataset is unbalanced)
build a sample dataset of equivalent legit transactions and fraud transactions

In [23]:
legit_sample=legit.sample(n=25)

concatenating two dataframe

In [24]:
new_ccd=pd.concat([legit_sample,fraud],axis=0)

In [25]:
new_ccd.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
331,241,1.181572,0.241408,0.024537,0.885832,-0.121471,-0.275552,-0.142414,0.031283,0.253328,...,-0.143114,-0.172136,-0.156844,-0.045282,0.583795,0.412511,0.001454,0.030863,12.31,0.0
4498,3803,1.191012,-0.219179,-0.179915,0.376612,1.607988,4.109250,-1.220414,1.007737,2.045119,...,-0.259920,-0.470804,-0.037468,0.940544,0.546935,-0.433266,0.046043,0.026879,19.90,0.0
1596,1244,0.985548,-0.717561,-0.356015,-1.250699,-0.735928,-1.385282,0.341801,-0.269526,1.144320,...,0.091651,0.020112,-0.163970,0.445218,0.491406,0.010419,-0.040213,0.029457,160.00,0.0
1227,946,-1.632632,0.057047,1.218600,-0.375556,0.209457,-1.241851,-0.216481,0.602814,-0.292873,...,-0.008134,-0.379791,-0.024747,0.558013,-0.283057,0.257037,0.185833,-0.038288,1.00,0.0
2569,2109,-0.642574,0.951355,1.135796,-2.077608,0.273933,-1.203719,1.187601,-0.392514,0.788437,...,0.096358,0.820140,-0.230829,0.439424,0.054722,-0.830116,0.369635,0.049235,1.00,0.0

In [26]:
new_ccd.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3981,3630,-1.341764,1.599954,0.723221,-0.115087,0.504078,1.057505,-0.333620,-2.364670,1.338909,...,1.914020,-1.352767,0.006744,-1.076359,0.257594,0.263324,0.087261,0.080538,29.81,0.0
2794,2345,1.173928,0.028206,0.756852,0.676412,-0.640361,-0.460832,-0.171297,-0.000812,0.186487,...,-0.218672,-0.472781,0.076214,0.587028,0.298192,0.273219,-0.025196,0.007432,5.99,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0

In [27]:
new_ccd['Class'].value_counts()

0.0    25
1.0     3
Name: Class, dtype: int64

In [28]:
new_ccd.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2056.96,-0.040367,0.189515,0.642031,0.036256,0.031097,0.243330,-0.061699,-0.142704,0.403186,...,-0.000750,-0.167432,-0.227018,0.07824,0.106034,0.198967,0.133396,0.034355,0.003130,49.0956
1.0,1780.00,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.36116,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.3100

Splitting the data into features and targets

In [29]:
x=new_ccd.drop(columns='Class',axis=1)
y=new_ccd['Class']

In [30]:
print(x)

      Time        V1        V2        V3        V4        V5        V6  \
331    241  1.181572  0.241408  0.024537  0.885832 -0.121471 -0.275552
4498  3803  1.191012 -0.219179 -0.179915  0.376612  1.607988  4.109250
1596  1244  0.985548 -0.717561 -0.356015 -1.250699 -0.735928 -1.385282
1227   946 -1.632632  0.057047  1.218600 -0.375556  0.209457 -1.241851
2569  2109 -0.642574  0.951355  1.135796 -2.077608  0.273933 -1.203719
2813  2376 -1.472773  0.337960  1.291731  2.671745 -1.419442  3.683059
1494  1163 -2.262319 -0.536691  0.970065  1.919452  0.201719 -0.578338
3651  3121 -0.549590  0.682197 -0.917987 -1.720076  1.311643  4.435021
1462  1136  1.212271 -0.122450  0.539167  0.293755 -0.492960 -0.231293
360    265 -0.491003  0.906953  1.645423 -0.083531 -0.195560 -0.710165
4142  3747  1.122478 -0.795864  0.571221 -0.603262 -0.780820  0.274670
336    246 -1.069200  1.239963  0.545157  1.005354 -0.025696 -0.910673
937    711  1.277185 -0.208930 -1.066716 -0.332639  1.960141  3.547407
2994  2549  1.216709  0.405113  0.452752  0.767846 -0.452447 -1.233331
2392  1955 -0.545169  0.981438  1.886241 -0.116065 -0.210797 -0.556336
660    499  1.255439  0.307729  0.292700  0.699873 -0.428876 -1.088456
2933  2480 -2.752033 -1.093900  2.152554 -0.808733 -0.119562 -0.711674
286    205  1.182399  0.059489  0.310673  0.828817  0.341209  1.112593
1455  1129  1.378098 -0.700626 -0.087992 -0.682126 -0.846295 -0.633675
4489  3788 -0.555848  0.886177  0.962430  0.085092  0.144617  0.582865
4562  3884 -0.774234  0.989553  1.729472  0.308078  0.123187 -0.046157
5708  5997 -1.451863 -0.924715  1.712229 -1.802891  0.176939 -1.201854
2312  1855  1.355188  0.383239 -0.261432  0.355806  0.392741 -0.249927
3981  3630 -1.341764  1.599954  0.723221 -0.115087  0.504078  1.057505
2794  2345  1.173928  0.028206  0.756852  0.676412 -0.640361 -0.460832
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920  4462 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788

            V7        V8        V9  ...       V20       V21       V22  \
331  -0.142414  0.031283  0.253328  ... -0.010394 -0.143114 -0.172136
4498 -1.220414  1.007737  2.045119  ... -0.032733 -0.259920 -0.470804
1596  0.341801 -0.269526  1.144320  ...  0.111809  0.091651  0.020112
1227 -0.216481  0.602814 -0.292873  ...  0.145673 -0.008134 -0.379791
2569  1.187601 -0.392514  0.788437  ...  0.206585  0.096358  0.820140
2813  1.881456  0.193081 -0.647028  ... -0.255377 -0.406791 -0.150461
1494 -0.300294  0.499289  0.276420  ... -0.758652 -0.118647  0.726356
3651 -2.676190 -4.329369 -0.478737  ...  1.287889 -2.794800 -0.300784
1462 -0.215777 -0.030147  0.587724  ... -0.073221 -0.077619  0.092458
360   0.559119  0.116340 -0.538190  ...  0.062757 -0.168067 -0.517387
4142 -0.858857  0.185651  0.382110  ...  0.073387 -0.100517 -0.363092
336   0.422442  0.049283 -0.564601  ... -0.134162  0.146555  0.602990
937  -0.600763  0.866635  0.344060  ...  0.009484 -0.283060 -0.799838
2994  0.171785 -0.282427 -0.138492  ... -0.010563 -0.249532 -0.694827
2392  0.475670  0.101404 -0.584456  ...  0.118958  0.014684  0.122082
660   0.043840 -0.167739  0.128854  ... -0.121156 -0.294795 -0.882126
2933  0.160634  0.037619  1.233435  ... -0.265599 -0.375302  0.162123
286  -0.292778  0.287394  0.268307  ... -0.061463 -0.337818 -0.776840
1455 -0.521900  0.000466 -0.646580  ... -0.053510  0.161948  0.345533
4489 -0.082211  0.413443  1.048298  ...  0.068919 -0.120752  0.100055
4562  0.580413 -0.011348  1.265078  ...  0.013195 -0.292439 -0.338417
5708  0.146044  0.055134  2.690959  ...  0.160192  0.007895  0.017067
2312  0.119705 -0.166610 -0.011231  ...  0.024101 -0.368934 -1.012316
3981 -0.333620 -2.364670  1.338909  ... -0.445400  1.914020 -1.352767
2794 -0.171297 -0.000812  0.186487  ... -0.079465 -0.218672 -0.472781
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477
4920  0.562320 -0.399147 -0.238253  ... -0.430022 -0.294166 -0.932391

           V23       V24       V25       V26       V27       V28  Amount
331  -0.156844 -0.045282  0.583795  0.412511  0.001454  0.030863   12.31
4498 -0.037468  0.940544  0.546935 -0.433266  0.046043  0.026879   19.90
1596 -0.163970  0.445218  0.491406  0.010419 -0.040213  0.029457  160.00
1227 -0.024747  0.558013 -0.283057  0.257037  0.185833 -0.038288    1.00
2569 -0.230829  0.439424  0.054722 -0.830116  0.369635  0.049235    1.00
2813  0.082031 -1.668637  0.229421  0.272357 -0.157011 -0.689475  491.72
1494  1.254982  0.409871 -0.276217 -0.219763  0.494632 -0.060311   24.00
3651  0.082432  1.007882  0.666363  0.730066 -0.096803  0.121536   92.39
1462 -0.038154  0.205406  0.400919  1.106461 -0.043187 -0.000826    6.23
360   0.018650  0.491652 -0.277795  0.043841  0.253372  0.111749    9.03
4142  0.135825 -0.384871 -0.034030 -0.483673 -0.009021  0.011335   89.77
336   0.132656  0.427113 -0.084030 -0.417194 -0.897885 -0.462042    2.98
937  -0.026359  1.033467  0.608715  0.284133 -0.021538  0.006863   12.15
2994  0.150009  0.698647  0.202298  0.069985 -0.017971  0.037785   10.77
2392 -0.079573  0.547448 -0.366138  0.151534  0.335032  0.185586    0.99
660   0.136846  0.327949  0.194459  0.096516 -0.027271  0.029491    1.98
2933  1.042525  0.554921  0.228584  0.852331  0.294627  0.275662   50.00
286  -0.056486 -1.356986  0.475790 -0.546519  0.063035  0.008047   12.99
1455 -0.201013  0.005168  0.719525 -0.056286 -0.031198 -0.012160   24.00
4489 -0.182284 -0.876707 -0.267405  1.233916 -0.050099  0.040376   20.00
4562 -0.093315  0.055764 -0.114756  0.217275  0.182223  0.166201   30.81
5708  0.183088  0.355935  0.284810 -0.131321 -0.017971  0.103671  115.59
2312 -0.054956 -1.031746  0.434077  0.178123 -0.018915  0.018639    1.98
3981  0.006744 -1.076359  0.257594  0.263324  0.087261  0.080538   29.81
2794  0.076214  0.587028  0.298192  0.273219 -0.025196  0.007432    5.99
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00
4920  0.172726 -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93

[28 rows x 30 columns]

In [31]:
print(y)

331     0.0
4498    0.0
1596    0.0
1227    0.0
2569    0.0
2813    0.0
1494    0.0
3651    0.0
1462    0.0
360     0.0
4142    0.0
336     0.0
937     0.0
2994    0.0
2392    0.0
660     0.0
2933    0.0
286     0.0
1455    0.0
4489    0.0
4562    0.0
5708    0.0
2312    0.0
3981    0.0
2794    0.0
541     1.0
623     1.0
4920    1.0
Name: Class, dtype: float64

Splitting the data into training data and testing data

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [33]:
print(x.shape,x_train.shape,x_test.shape)

(28, 30) (22, 30) (6, 30)

Model training(we use logistic regression model)

In [34]:
model= LogisticRegression(solver='lbfgs', max_iter=1000)

In [35]:
#training the logistic regression model with training data
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

Model evaluation
accuracy score

In [36]:
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [39]:
print("Accuracy on training data: ",training_data_accuracy)

Accuracy on training data:  1.0

In [38]:
x_test_prediction=model.predict(x_test)
testing_data_accuracy=accuracy_score(x_test_prediction,y_test)
print("Accuracy on testing data: ",testing_data_accuracy)

Accuracy on testing data:  0.8333333333333334

if training data score>>> testing data= Overfitted
if training data score<<< testing data =underfitted